.nav-link {
  color: white !important;
}

.navbar {
  padding: 0 100px;
  align-items: flex-end;
  box-shadow: 0 0 10px 0 #0000005e;
  .navbar-brand {
    width: 250px;
    display: flex;
    color: #a5f3fc;
    h1 {
      align-self: flex-end;
      margin: 0;

      font-family: "Grenze", serif;
    }
  }
    .lg{
      display: flex;
      align-items: center;
        a{
          margin-right: 20px;
          letter-spacing: 1px;
          text-decoration: none;
        }
        .btn--blue{
          color: #fff;
          font-size: 15px;
          background: #18c1f0;
          border-radius: 3px;
          padding: 10px 25px;
          letter-spacing: 1px;
          border: 0;
          &:hover{
            color: #fff;
            background-color: #18aaf0;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.166), 0 4px 15px 0 rgba(0, 0, 0, 0.146);
          }
        }
        .btn--black {
          color: #fff;
          font-size: 15px;
          background: rgba(0,0,0,.6);
          border-radius: 3px;
          padding: 10px 25px;
          letter-spacing: 1px;
          text-decoration: none!important;
          border: 0;
          &:hover{
            color: #fff;
            background-color: rgba(0,0,0,.8);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.166), 0 4px 15px 0 rgba(0, 0, 0, 0.146);
          }
      }
    }
  .navbar-nav {
    padding-bottom: 7px;
    margin-left: 20px;
    .nav-item {
      margin-right: 5px;
      .nav-link {
        letter-spacing: 1px;
        &:hover {
          color: #bae6fd !important;
        }
        &.active {
          color: #bae6fd !important;
          font-weight: bold;
        }
      }
    }
  }
}

.navBarTransparent {
  background-color: #fff;
  color: black;
}
