.products-html {
  background-color: #fff;

  .product-html {
    cursor: pointer;
    width: 265px;
    height: 320px;
    margin-left: 25px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    }
    .product-bottom-html {
      margin: 10px 10px;
    }
  }
}

.products {
  background-color: #fff;

  .product {
    cursor: pointer;
    width: 235x;
    height: 320px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    }
    .product-bottom {
      margin: 10px 10px;
    }
  }
}
